Nav {
	position: absolute;
top:50px;
}
nav a {
​  float: left;
  text-align: center;
  hight: 50px;
width: 200px;

background-color:orange;
color: white;
padding: 30px;
  font-size: 40px;
  text-decoration: none;
   cursor: pointer;
    //outline: #4CAF50 solid 3px;
border-radius: 12%;  
  
}	