#vyberId{
  font-size: 2em;
  background-color: lightblue;
}
#vlozId{
  font-size: 2em;
  background-color: lightblue;
}
.urediCls{
  font-size: 2em;
  background-color: gold;
}
.urediCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.odstraniCls{
  font-size: 2em;
  background-color: pink;
}
.odstraniCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.submit{
  font-size: 2em;
  background-color: lightGreen;
}